 body {
    background-color: antiquewhite;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
h1 {
  color: #4a3a42;
    text-align: center;
    font-size: 200%
}
h2 {
  text-align: center;
}
h3 {
    text-align: center;
    color: #4a3a42;
}
.magicButton {
  height: 50px;
  width: 150px;
  border-radius: 5px;
  padding: 15px 25px;
  font-size: 22px;
  text-decoration: none;
  margin: 20px;
  color: rgb(9, 8, 8);
  position: relative;
  display: inline-block;
}
.magicButton:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
} 
.mainMenu {
  position: relative;
  display: inline-block;
}
p {
  text-align: center;
  
  
}
skills {
background-color: FCA310;
text-align: center;
}
ul {
  background: #3399ff;
  padding: 20px;
  list-style-type: none;
}
  ul li {
    background: #cce5ff;
    color: darkblue;
    margin: 5px;
  }
  projects {
    background-color: rgb(225, 15, 15);
    color: white;
  }
footer {
  margin-top: auto;
  text-align: center;
  justify-content: center;
}
