  body {
    margin: 0;
    background-color: antiquewhite;
  }
  h1 {
    text-align: center;
  }
  h3 {
    text-align: center;
  }
  .alfa {
    display: flex;
    display: inherit;
    flex-grow: 1;
    border: 3px solid black;
  }
  div {
    flex-grow: 1;
    height: 100%
  }
