 body {
    background-color: antiquewhite;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
h1 {
  color: #4a3a42;
    text-align: center;
    font-size: 200%
}
h3 {
    text-align: center;
    color: #4a3a42;
}
.magicButton {
  height: 20px;
  width: 20px;
  border: 2px solid black;
} 
.mainMenu {
  position: relative;
  display: inline-block;
}
p {
  text-align: center;
}
skills {
background-color: FCA310;
text-align: center;
}
ul {
  background: #3399ff;
  padding: 20px;
  list-style-type: none;
  ul li {
    background: #cce5ff;
    color: darkblue;
    margin: 5px;
    

footer {
  margin-top: auto;
  text-align: center;
}
