* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.box {
  color: white;
  text-align: center;  
  /* min-height: 100vh;         */
}

.topSection {background-color:#01BD9E}
.aboutMe {background-color: #2B96DE;}
.skills {background-color: #9B54B9;}
.contact {background-color: #32485E;}
.projects {background-color: #F3C402;}
.footer {background-color: #E87D02;}
/* This ABOVE is just styling and sizing of the boxes so we can see it move 
around.You know what I mean. 

This BELOW is where I will give the property FLEX to the entire container.*/
.container {
display: flex;
/* border: 10px solid goldenrod; */
/* height: 100vh; */
flex-direction: column;
/* flex-wrap: wrap; */
}




.magicButton {
  height: 50px;
  width: 150px;
  border-radius: 5px;
  padding: 15px 25px;
  font-size: 22px;
  text-decoration: none;
  margin: 20px;
  color: rgb(9, 8, 8);
  position: relative;
  display: inline-block;
}


